.product{
  padding: 20px;
  display: flex;
}
.product .item {
    max-width: 300px;
    border-radius: var(--dimen-radius);
    box-shadow: rgba(0,0,0,0.3) 0 5px 15px 0;
    margin: 15px;
}
.product .item:hover{
    box-shadow: var(--color-primary)0 5px 15px 0;
}
.product .item .image {
    height:200px ;
    width: 100%;
    border-radius: var(--dimen-radius);
}
.product .item .description {
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    border-radius: var(--dimen-radius);
}